@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
   width: 100%;
   height: 100%;
   background-image: url('../img/sky.jpg');
   color: white;
   font-size: 16px;
   font-family: 'Shadows Into Light', cursive;
   box-sizing: border-box;
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.btn{
   padding: 10px 0;
   border: 2px solid white;
   border-radius: 15px;
   background: transparent;
   color: white;
   font-size: 30px;
   letter-spacing: 1px;
   cursor: pointer;
   font-family: 'Shadows Into Light', cursive;
   &:hover{
      box-shadow: 4px 1px 10px white,4px 1px 20px white;
   }
}
.btn__option{
   margin: 0 10px;
   padding: 0 10px;
}
.show{
   display: flex !important;
}
.tr0{
   transform: translateY(0) !important;
}
.widthLarge{
   width: 125px;
   height: 125px;
}
.widthMedium{
   width: 100px;
   height: 100px;
}
.widthSoft{
   width: 75px;
   height: 75px;
}
#timer{
   position: fixed;
   display: none;
   align-items: center;
   justify-content: center;
   width: 150px;
   height: 50px;
   background: transparent;
   color: white;
   font-size: 30px;
   font-weight: 600;
   top: 50px;
   right: 15px;
}